*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
a{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}


/* utilities */

/* generali */

.max-width{
    max-width: 100%;
    object-fit: contain;

}

/* button */
.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 10px;
}

.btn.button-background{
    border: 1px solid white;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
    


/* list */

.special-li{
    list-style: none;
    margin: 10px 0;
}

.sidebar a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;  
    
}

.list-oriz li{ 
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    cursor: pointer;

}


.album-list .album{
    display: inline-block;
    list-style: none;
    flex-basis: calc(100% / 6 - 15px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    
}

.album-list .album h5{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    

}

.album-list .album h6{
    text-align: center;
    color: #6d6d6d;
    margin-top: 10px;

}
    
.album-list .album img{
    width: 100%;
}



/* main */

main{
    height: calc(100vh - 90px);
    display: flex;
    
    
}

/* sidebar */

.sidebar{
    flex-basis: 230px;
    background: #000000;
    min-height: 30px;
    
}

.sidebar .logo_spotify{
    width: 190px;
    padding: 20px;
}

.sidebar .sidebar_menu{
    padding: 0 20px;
    width: 100%;
    color: #6d6d6d;
    
    
}
.sidebar .sidebar_menu .help-icon{
    width: 190px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    
}

.help-icon h6{
    margin: 10px;
}

.sidebar .sidebar_menu .help-icon img{
    width: 15%;
}

.sidebar .sidebar_menu .playlist{
    margin: 10px 0;
}

.sidebar_menu .playlist h4{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

.sidebar_menu .playlist .add-playlist{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sidebar_menu .playlist h5 {
    display: inline-block;
    margin-left: 10px;
}



.sidebar_menu .playlist span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3a3a3;
    height: 40px;
    width: 40px;
    color: #000000;
}

.sidebar_menu .playlist span i{
    font-size: 20px;
}

.foot-sidebar{
    margin-top: 140%;
    min-height: 80px;
}

.foot-sidebar a{
    width: 190px;
    display: flex;
    margin-bottom: 10px;    
}


.foot-sidebar a img{
    width: 10%;
    margin-right: 10px;
    
}


.foot-sidebar .box-author{
    margin: 10px 0;
    width: 100px;
    display: flex;
    align-items: center;
    
}
.foot-sidebar .box-author img{
    width: 25%;
    background-color:#a3a3a3;
    border-radius: 50%;
    margin-right: 10px;
}

.foot-sidebar .box-author h4{
    color: white;
}



/* content main */
.content_main{
    position: relative;
    flex-grow: 1;
    background-color: #141922;

}



/* header menu */

.header_menu{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    background-color:#080b12;
     
    

}

/* scrollable */

.content_main .scrollable{
    padding: 88px 0 0 15px;
}




/* leadership */

.content_main .leadership{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-oriz h5{
    color: #6d6d6d;
    text-transform: uppercase;
    

}


/* recently played */
.played{
    margin: 20px 0;

}

.played h2{
    color: white;
}
.played .album-list{
    display: flex;
    flex-wrap: wrap;
    

}



/* personal choiche */
.played p{
    color: #6d6d6d;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}



/* popular artist */
.played:last-of-type img{
    border-radius: 50%;
}

/* footer play */

.footer_play{
    height: 90px;
    background-color: #282828;
}


