body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


/* utilities */

/* generali */

/* button */

/* list */

/* sidebar */

.sidebar{
    height: calc(100vh - 90px);
    width: 227px;
    background: #000000;
}

/* main */

main{
    width: calc(100vw - 227px);
    
}

/* header menu */

.header_menu{
    height: 90px;
    background-color: #080b12;
}


/* content main */







/* leadership */


/* recently played */

/* personal choiche */

/* popular artist */

/* footer play */

.footer_play{
    height: 90px;
    background-color: #282828;
}

