body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


/* utilities */

/* generali */

.max-width{
    max-width: 100%;
    object-fit: contain;

}

/* button */

/* list */


/* main */

main{
    position: relative;
    background-color: #141922;
    height: calc(100vh - 90px);
    
}

/* sidebar */

.sidebar{
    height: calc(100vh - 90px);
    width: 227px;
    background: #000000;
    
}

.sidebar .logo_spotify{
    width: 190px;
    padding: 20px;
}

.sidebar .sidebar_menu{
    margin: 0 20px;
    width: 100%;
    color: #6d6d6d;
    
    
}
.sidebar .sidebar_menu .help-icon{
    width: 190px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    
}

.help-icon h6{
    margin: 10px;
}

.sidebar .sidebar_menu .help-icon img{
    width: 15%;
}

.sidebar .sidebar_menu .playlist{
    margin: 
}

/* aggiungere nello span le caratteristiche di un quadrante con croce dentro di selezione */



/* content main */




/* header menu */

.header_menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: calc(100vw - 227px);
    background-color:rgba(3, 4, 7, 0.576);
}









/* leadership */


/* recently played */

/* personal choiche */

/* popular artist */

/* footer play */

.footer_play{
    height: 90px;
    background-color: #282828;
}


